.DS_Store
**/node_modules
**/.browser_modules
**/dist
**/lib
**/src-gen
**/gen-webpack.config.js
**/gen-webpack.node.config.js
**/gen-esbuild.browser.mjs
**/gen-esbuild.node.mjs
**/gen-esbuild.electron.mjs
**/plugins
!theia-extensions/plugins/
!theia-extensions/plugins/**
theia-extensions/plugins/lib/
theia-extensions/plugins/node_modules/
**/tsconfig.tsbuildinfo
*.log
license-check-summary.txt*
